
<div class="titlecontainer">
  <div class="title">
    <h1>Top Scores</h1>
  </div>
</div>


<div class="scoreboardcontainer">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="rank">Rank #</th>
        <th scope="col">Name</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="cell-highlight">1</th>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <th class="cell-highlight2">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <th class="cell-highlight3">3</th>
        <td>Larry</td>
        <td>the Bird</td>
      </tr>
      <tr>
        <th>4</th>
        <td>Larry</td>
        <td>the Bird</td>
      </tr>
      <tr>
        <th>5</th>
        <td>Larry</td>
        <td>the Bird</td>
      </tr>
      <tr>
        <th>6</th>
        <td>Larry</td>
        <td>the Bird</td>
      </tr>
      <tr>
        <th>7</th>
        <td>Larry</td>
        <td>the Bird</td>
      </tr>
      <tr>
        <th>8</th>
        <td>Larry</td>
        <td>the Bird</td>
      </tr>
      <tr>
        <th>9</th>
        <td>Larry</td>
        <td>the Bird</td>
      </tr>
      <tr>
        <th>10</th>
        <td>Larry</td>
        <td>the Bird</td>
      </tr>
    </tbody>
  </table>
</div>
