<!doctype html>
<html>
<head>
<style>
    div {text-align: center;}
    .center {
  padding: 100px 0;
  border: 2px solid #DEA000;
}
</style>


<title>Our Funky HTML Page</title>
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
</head>
<body bgcolor=”#323437">
<head style="color:white" > 
    <p style=color:white style="font-family: JetBrains Mono">TYPATHON
    </p>
</head>
    <div class="center">
        <form action="/action_page.p©hp">
            <label for="fname style="color:white;"> 
                <p style="color:white;">hello, </p>
            </label>
            <input type="text" id="fname" name="fname"><br><br>
            <button type="submit" value="Submit" onclick="getname(username)" > test </button>
        </form>
    </div>


</body>
</html>