<!doctype html>
<html>
<head>
<style>
</style>


<title>Our Funky HTML Page</title>
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
</head>
<body>
<head style="color:white" >
    <h1>TYPATHON</h1>
</head>
    <div class="center">
        <form >
            <label for="fname style=">
                <p>hello, </p>
            </label>
            <input type="text" id="fname" name="fname" [(ngModel)]="name" placeholder="Enter Name"><br><br>
        </form>
        <button (click)="startGame()">Start</button>
    </div>


</body>
</html>
